@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #B68D40;
    --secondary-color: #D6AD60;
    --accent-color: #F4EBD0;
    --dark-color: #122620;
}
.todosContainer{
    max-width: 800px;
    margin: auto;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    min-height: 100vh;
}

.todosContainer h1{
    color: var(--dark-color);
    position: relative;
}

.todosContainer h1::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--dark-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.taskForm{
    display: flex;
    width: 70%;
    position: relative;
    margin: 24px 0;

}
.submitBtnIcon{
    transition: all .5s;
}

.submitBtnWrapper{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--primary-color);
    padding: 4px 8px;
    font-size: 24px;
    border-radius: 20px 4px 4px 20px;
    transition: all 0.2s;
    color: var(--accent-color);
    &:hover{
        box-shadow: 0 0 2px 2px gray;
    }
    &:hover .submitBtnIcon{
        transform: rotateZ(180deg);
    }
}
.taskInput{
    width: 100%;
    font-size: 20px;
    padding: 6px 145px 6px 12px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.submitBtn{
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: var(--accent-color);
}
.taskList{
    width: 70%;
}
.taskList ol{
    list-style-position: inside;

}

.completedHeading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
}


@media (max-width: 991.98px) {
    .taskForm{
        width: 95%;
        
    }
    .taskList{
        width: 95%;
    }
    .submitBtnWrapper{
        font-size: 32px;

    }
    .taskInput{
        font-size: 32px;
        padding-right: 190px ;
    }
    
    .submitBtn{
        font-size: 32px;
    }

    .completedHeading{
        font-size: 32px;
    }
}


@media (max-width: 575.98px) {
    .submitBtnWrapper{
        font-size: 16px;

    }
    .taskInput{
        font-size: 16px;
        padding-right: 110px ;
    }
    .submitBtn{
        font-size: 16px;
    }
    .completedHeading{
        font-size: 22px;
    }

}

